html, body {
    overflow: hidden;
    background: #8a46;
  }
  .cartoon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vmin;
    height: 80vmin;
  }
  
  .cartoon div {
    position: absolute;
    box-sizing: border-box;
  }
  
  .b {
    border: 0.5vmin solid;
  }
  
  .r {
    border-radius: 100%;
  }
  
 
  
  
  /****/
  .cartoon {
    
   --fur: #070707; 
    
  }
  
 
  

  .body {
    height: 31%;
    width: 8%;
    background: var(--shirt);
    top: 45%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  

 
  
  .shorts {
    width: 10%;
    height: 5%;
    background: var(--pants);
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .shorts::before {
    width: 60%;
    height: 490%;
    background: var(--pants);
    transform-origin: top left;
    transform: skewX(-5deg)
  }
  
  .shorts::after {
    right: 0;
    width: 60%;
    height: 490%;
    background: var(--pants);
    transform-origin: top right;
    transform: skewX(5deg)
  }
  
  .shoe {
    width: 9%;
    height: 4%;
    background: var(--fur);
    border-radius: 100% 50% 0 0;
    bottom: 0;
    left: 40%;
    transform: skewX(-3deg);
  }
  
  .shoe + .shoe {
    left: auto;
    right: 40%;
    transform: scaleX(-1) skewX(-3deg);
  }
  
  .sleeves {
    width: 7%;
    height: 7%;
    background: var(--shirt);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .sleeves::before,
  .sleeves::after {
    width: 100%;
    height: 200%;
    background: var(--shirt);
    transform: rotate(30deg);
    left: -50%;
    top: -20%;
  }
  
  
  
  
  
  .hands {
    width: 6%;
    height: 6%;
    background: var(--fur);
    top: 73%;
    left: 42%;
  }